#calibration {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.calib-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.5;
}